:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
}

body {
    color: #212121;
    font-family: 'Roboto';
}
ul {
    list-style: none;
}


/* #212121 цвет заголовков */
/* #757575 цвет основного текста */
/* #FFFFFF цвет Hero */
/* #FFFFFF rgba(255, 255, 255, 0.6) вспомагательный к Hero цвету */
/* #2196F3 цвет акцент - ссылок и части логотипа */

/* #E5E5E5 - цвет основного фона*/
/* #EEEEEE - цвет обводки основных секции */
/* #2F303A - цвет фона Hero, темный фон */
/* #000000 - цвет обводки темного фона */
/* #2196F3 цвет акцент - кнопка */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
}

/* margin-left: 215px;
height: 31px;
margin-top: 24px; */

.logo2 {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #000000;
}

/*  margin-right: 93px;
height: 31px;
 margin-top: 24px; */

 /* site nav */
.site-nav .link {
    color: var(--title-text-color);
}
.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--accent-color);
}

.contacts-nav a {
    color: var(--primary-text-color);
}
.contacts-nav a:hover {
    color: var(--accent-color);
}

/* Hero */

.hero {

}

.hero-title {
color: #FFFFFF;
}

/* Section */

.section-title {
    color: var(--title-text-color);
}

/* Features */

.features-list .title {
    color: var(--title-text-color);
}

.features-list .description {
    color: var(--primary-text-color);
}



.menu{
    display: flex;
    margin: 0;
}

.nav-items{
    display: flex;
    list-style-type: none;
    width: 294px;
}

.list-items{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 32px;
}

.nav-items-text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196F3;
    text-decoration: none;
}

.email{
    font-family: 'Roboto';sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196F3;
    margin-top: 32px;
    margin-left: 331px;
    text-decoration: none;
}

.phonenumber{
    font-family: 'Roboto';sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    margin-left: 50px;
    margin-top: 32px;
    width: 122px;
    text-decoration: none;
}

.main-content{
    width: 1600px;
    height: 600px;
    margin-left: 0;
    margin-top: 80px;
    background: #2F303A;
}

.main-content-text{
    font-family: 'Roboto'; sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 200px;
}
